.sideNav {
    height: 100vh;
    position: fixed;
    top: 60px;
    min-width: 250px;
    color: white;
    overflow: scroll;
    padding-bottom: 100px;
    z-index: 20;
    width: 250px;
    #fa-icon {
        position: relative;
        top: 33px;            
    }
    ul {
        list-style-type: none;
        li {
            .nav-link {
                color: white;
            }
            .badge_icon {
                width: 25px;
            }
            &:hover {
                // background: #80808078;
            }
            display: table;
            vertical-align: middle;
            height: 40px;
            border-bottom: 1px solid white;
            width: 100%;
            padding: 5px;
            font-size: 1rem;
            cursor: pointer;
            p {
                margin-bottom: 0px;
            }
        }
    }
}