.DidInventory {
    .InventoryArea {
        padding-top: 100px;
        table {
            margin-top: 0px;
        }
        .equipInventory, .objInventory {
            margin-top: 40px;
        }
    }
}